<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>쇼핑-3팀</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../images/elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="user-update.css" />
  <script src="user-update.js" type="module" defer></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="../../daum-api/daum-api.js"></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="" alt="">
          <span class="has-text-link brandname">SHOPAHOLIC</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              MEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=men&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              WOMEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=women&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <!-- 로그인 안했을 때 -->
          <ul id="navbar" class="login-hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
          <!-- 로그인 했을 때 -->
          <ul id="navbar" class="logout-hidden hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/users">계정관리</a></li>
            <li><a class="logout-btn" href="/">로그아웃</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- 사이드 메뉴 -->
  <aside class="side-menu hidden">
    <h3 class="sr-only">사이드 메뉴</h3>
    <div class="top">
      <i class="fa-duotone fa-x"></i>
    </div>
    <ul class="login-hidden">
      <!-- 로그인 안했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="../../register">회원가입</a></li>
      <li><a href="../../login">로그인</a></li>
      <li><a href="../../cart">카트</a></li>
    </ul>
    <ul class="logout-hidden">
      <!-- 로그인 했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/users">계정관리</a></li>
      <li><a class="logout-btn" href="/">로그아웃</a></li>
      <li><a href="../../cart">카트</a></li>
    </ul>
  </aside>

  <!-- 회원정보 박스 -->
  <section class="section">
    <div class="container form-container">
      <div class="header">
        <!-- user 이메일 받아와야 함 -->
        <h1 class="subtitle is-4">회원정보 관리 (<span id="userEmail"></span>)</h1>
        <hr />
      </div>
      <!-- 폼 -->
      <form class="box form-box" action="">
        <!-- 이름 -->
        <div class="field">
          <label class="label" for="name">이름</label>
          <div class="control">
            <input class="input" type="text" id="name" disabled />
            <div class="switch">
              <input class="checkbox" type="checkbox" />
            </div>
          </div>
        </div>

        <div class="password-container">
          <!-- 비밀번호 -->
          <div class="field">
            <label class="label" for="password">비밀번호</label>
            <div class="control">
              <input class="input input-switch" type="password" id="password" disabled />
              <div class="switch password">
                <input class="checkbox" type="checkbox" />
              </div>
            </div>
          </div>

          <!-- 비밀번호 확인 -->
          <div class="field">
            <label class="label" for="password-confirm">비밀번호 확인</label>
            <div class="control">
              <input class="input input-switch" type="password" id="password-confirm" disabled />
            </div>
          </div>
        </div>

        <!-- 주소 -->
        <div class="address-container">
          <div class="field">
            <label class="label" for="address">주소</label>
            <div class="control">
              <div class="field-wrapper">
                <!-- 우편번호 -->
                <input id="sample4_postcode" class="input input-switch" type="text" placeholder="주소찾기를 클릭해 주세요."
                  readonly disabled />
                <button class="button is-light is-hovered input-switch" type="button"
                  onclick="sample4_execDaumPostcode()" disabled>
                  주소찾기
                </button>
              </div>
              <div class="switch address">
                <input class="checkbox" type="checkbox" />
              </div>
            </div>
          </div>
          <!-- 도로명주소 -->
          <div class="field">
            <input id="sample4_roadAddress" class="input input-switch" type="text" disabled />
          </div>
          <!-- 상세주소 -->
          <div class="field">
            <input id="sample4_detailAddress" class="input input-switch" type="text" disabled />
          </div>
        </div>

        <!-- 전화번호 -->
        <div class="field">
          <label class="label" for="phoneNumber">전화번호</label>
          <div class="control">
            <input class="input" type="text" id="phoneNumber" placeholder="- 없이 입력해 주세요." disabled />
            <div class="switch">
              <input class="checkbox" type="checkbox" />
            </div>
          </div>
        </div>
        <button class="button button-submit is-info is-fullwidth js-modal-trigger" type="submit">
          저장하기
        </button>

        <!-- 모달창 -->
        <div class="modal">
          <div class="modal-background close"></div>
          <div class="modal-content">
            <button class="modal-close delete is-large close"></button>
            <div class="box">
              <p class="mb-3">현재 비밀번호를 입력해 주세요.</p>
              <p class="mb-3">
                카카오 로그인의 경우 'kakao'를 입력해 주세요.
              </p>
              <input id="currentPassword" class="input is-link mb-3" type="password" autocomplete="on" />
              <button id="saveCompleteBtn" class="button is-link mt-5">
                저장 완료하기
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>

</html>