<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>쇼핑-3팀</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="../images/elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="user.css" />
  <script src="user.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="" alt="">
          <span class="has-text-link brandname">SHOPAHOLIC</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              MEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=men&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              WOMEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=women&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <!-- 로그인 안했을 때 -->
          <ul id="navbar" class="login-hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
          <!-- 로그인 했을 때 -->
          <ul id="navbar" class="logout-hidden hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a class="logout-btn" href="/">로그아웃</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- 사이드 메뉴 -->
  <aside class="side-menu hidden">
    <h3 class="sr-only">사이드 메뉴</h3>
    <div class="top">
      <i class="fa-duotone fa-x"></i>
    </div>
    <ul class="login-hidden">
      <!-- 로그인 안했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/register">회원가입</a></li>
      <li><a href="/login">로그인</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
    <ul class="logout-hidden">
      <!-- 로그인 했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a class="logout-btn" href="/">로그아웃</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
  </aside>

  <!-- 계정관리 메뉴 -->
  <section class="section">
    <div class="container">
      <div class="block account-header">
        <h1 class="title">계정관리</h1>
      </div>
      <div class="menu-container">
        <!-- 주문조회 -->
        <a href="/order/history" class="menu-card">
          <div class="menu-icon">
            <span class="icon has-text-info">
              <i class="fa-solid fa-credit-card"></i>
            </span>
          </div>
          <div class="menu-body">
            <p class="title is-3">주문조회</p>
            <p class="subtitle is-5">지난 주문 내역을 확인, 취소할 수 있습니다.</p>
          </div>
        </a>
        <!-- 회원정보관리 -->
        <a href="/users/update" class="menu-card">
          <div class="menu-icon">
            <span class="icon has-text-info">
              <i class="fa-solid fa-user-gear"></i>
            </span>
          </div>
          <div class="menu-body">
            <p class="title is-3">회원정보 관리</p>
            <p class="subtitle is-5">회원 정보를 확인, 수정할 수 있습니다.</p>
          </div>
        </a>
        <!-- 회원탈퇴 -->
        <a href="/users/delete" class="menu-card">
          <div class="menu-icon">
            <span class="icon has-text-info">
              <i class="fa-solid fa-user-slash"></i>
            </span>
          </div>
          <div class="menu-body">
            <p class="title is-3">회원 탈퇴</p>
            <p class="subtitle is-5">모든 정보를 안전하게 삭제한 후 탈퇴할 수 있습니다.</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</body>

</html>