<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>쇼핑-3팀</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../images/elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="product-add.css" />
  <script src="product-add.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="" alt="">
          <span class="has-text-link brandname">SHOPAHOLIC</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              MEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=men&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              WOMEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=women&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <!-- 로그인 안했을 때 -->
          <ul id="navbar" class="login-hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
          <!-- 로그인 했을 때 -->
          <ul id="navbar" class="logout-hidden hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/users">계정관리</a></li>
            <li><a class="logout-btn" href="/">로그아웃</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- 사이드 메뉴 -->
  <aside class="side-menu hidden">
    <h3 class="sr-only">사이드 메뉴</h3>
    <div class="top">
      <i class="fa-duotone fa-x"></i>
    </div>
    <ul class="login-hidden">
      <!-- 로그인 안했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/register">회원가입</a></li>
      <li><a href="/login">로그인</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
    <ul class="logout-hidden">
      <!-- 로그인 했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/users">계정관리</a></li>
      <li><a class="logout-btn" href="/">로그아웃</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
  </aside>

  <!-- 제품 판매 폼 -->
  <section class="section">
    <div class="container">
      <div class="block account-header">
        <h1 class="subtitle is-4">제품판매</h1>
      </div>
      <div class="form-container">
        <form class="box form-box" id="submitForm">
          <p class="title is-5 has-text-primary">제품을 판매해 보세요</p>
          <!-- 제품 이름 -->
          <div class="field">
            <label class="label" for="titleInput">제품 이름</label>
            <input id="titleInput" class="input" type="text" name="name" placeholder="아이보리 티셔츠" autocomplete="on"
              required />
          </div>

          <!-- Large Category -->
          <div class="field">
            <label class="label" for="largeCategory">대분류</label>
            <div class="select is-fullwidth">
              <select id="largeCategory" name="largeCategory" required>
                <option value="">카테고리를 선택해 주세요.</option>
                <option value="men" class="notification is-primary is-light">men</option>
                <option value="women" class="notification is-warning is-light">women</option>
                <option value="unisex" class="notification is-danger is-light">unisex</option>
              </select>
            </div>
          </div>

          <!-- Medium Category -->
          <div class="field">
            <label class="label" for="mediumCategory">소분류</label>
            <div class="select is-fullwidth">
              <select id="mediumCategory" name="mediumCategory" required>
                <option value="">카테고리를 선택해 주세요.</option>
                <option value="top" class="notification is-primary is-light">top</option>
                <option value="bottom" class="notification is-warning is-light">bottom</option>
                <option value="outer" class="notification is-danger is-light">outer</option>
              </select>
            </div>
          </div>

          <!-- 제조사 -->
          <div class="field">
            <label for="brandInput" class="label">제조사</label>
            <input id="brandInput" class="input" type="text" name="brand" placeholder="OO의류제조(주)" autocomplete="on"
              required />
          </div>

          <!-- 요약 설명 -->
          <div class="field">
            <label for="shortDescInput" class="label">요약 설명</label>
            <textarea class="textarea" id="shortDescInput" name="description" rows="3"
              placeholder="제품에 대한 1~2문장의 설명을 적어 주세요." autocomplete="on" required></textarea>
          </div>

          <!-- 제품 사진 -->
          <div class="field is-fullwidth">
            <label for="imageInput" class="label">제품 사진</label>
            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <input class="file-input" id="imageInput" type="file" name="img" accept=".png, .jpeg, .jpg" required />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload" aria-hidden="true"></i>
                  </span>
                  <span class="file-label">사진 업로드</span>
                </span>
                <span class="file-name" id="fileNameSpan">사진파일 (png, jpg, jpeg)</span>
              </label>
            </div>
          </div>

          <!-- 가격 -->
          <div class="field">
            <label for="priceInput" class="label">가격</label>
            <div class="control has-icons-right">
              <input class="input" id="priceInput" type="number" name="price" placeholder="10000" autocomplete="on"
                required />
              <span class="icon is-small is-right">원</span>
            </div>
          </div>

          <!-- 버튼 -->
          <div class="mt-5">
            <button type="submit" class="button is-primary is-fullwidth" id="submitBtn">제품 판매하기</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>

</html>