@import '../common/sidebar/sidebar.css';
@import '../common/navbar/navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

nav {
  border-bottom: 3px solid black;
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
}

.brandname {
  font-family: 'Limelight', cursive;
  font-size: 24px;
}

/* products(제품목록) */
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: aquamarine;
}

button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #4b65e4;
}

.fw {
  width: 100%;
}

h1 {
  margin-top: 24px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  /* 불릿 스타일 없애기 */
  padding: 0;
  margin: 0;
  justify-content: center;
}

.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product-image {
  border: 1px solid black;
}

.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 2rem;
}

.product-name {
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.product-subtitle {
  display: flex;
  align-items: center;
  width: 100%;
}

.product-brand {
  /* font-size: 1.2rem; */
  color: #808080;
  font-weight: 700;
  width: 70%;
}

.product-price {
  /* font-size: 2rem; */
  width: 30%;
}

/* 제품 목록페이지-리뷰,평점 */
.rating {
  color: #ffc000;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

/*product(제품상세) */

.content {
  padding: 1rem;
  margin-top: 1rem;
}

.back-to-result {
  font-size: 24px;
  margin: 2rem 0;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-left {
  margin: 0 2rem;
}

.details-image img {
  max-width: 30rem;
  width: 100%;
  border: 1px solid black;
}

.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-rating {
  color: #ffc000;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-rating span:last-child {
  margin-left: 2rem;
  color: #444444;
  font-size: 1.4rem;
}

/* 제품상세-최근 본 항목들 */
.details-viewed {
  display: flex;
  justify-content: space-around;
}

.details-viewedimg img {
  max-width: 10rem;
  width: 100%;
}

.content-viewed {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* 제품상세-리뷰 및 평점 */
.review-container {
  width: 100%;
}

.details-reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-review {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.details-review-rating i {
  color: #ffc000
}

.details-review-rating {
  color: #ffc000;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-review-rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

.details-review_column:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-review-fullName {
  font-size: 28px;
  font-weight: 700;
}

.details-review-text {
  font-size: 20px;
}

/* 제품 리뷰 작성 페이지 */
.section {
  margin: 4rem 0;
  padding: 2rem 0;
}

.review-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-box {
  width: 40rem;
}

.form-box .title {
  text-align: center;
}

.form-box .button {
  font-weight: 700;
}