<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>쇼핑-3팀</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="../images/elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="home.css" />
  <script src="home.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="" alt="">
          <span class="has-text-link brandname">SHOPAHOLIC</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="products/#/?lc=men">
              MEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="products/#/?lc=men&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="products/#/?lc=men&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="products/#/?lc=men&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="products/#/?lc=women">
              WOMEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="products/#/?lc=women&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="products/#/?lc=women&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="products/#/?lc=women&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <!-- 로그인 안했을 때 -->
          <ul id="navbar" class="login-hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
          <!-- 로그인 했을 때 -->
          <ul id="navbar" class="logout-hidden hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/users">계정관리</a></li>
            <li><a class="logout-btn" href="/">로그아웃</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </nav>

  <!-- 사이드 메뉴 -->
  <aside class="side-menu hidden">
    <h3 class="sr-only">사이드 메뉴</h3>
    <div class="top">
      <i class="fa-duotone fa-x"></i>
    </div>
    <ul class="login-hidden">
      <!-- 로그인 안했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/register">회원가입</a></li>
      <li><a href="/login">로그인</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
    <ul class="logout-hidden">
      <!-- 로그인 했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/users">계정관리</a></li>
      <li><a class="logout-btn" href="/">로그아웃</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
  </aside>

  <div class="container mainpagecontainer mt-6">
    <div class="container mt-6 allcontainer">
      <div class="shopmen" id="shopmenDiv">
        <a href="products/#/?lc=men">
          <div class="left">
            <img src="../images/homepage_men.JPG" alt="">
            <div>
              <p>SHOP MENS</p>
            </div>
          </div>
        </a>
      </div>
      <div class="shopwomen mx-2" id="shopwomenDiv">
        <a href="products/#/?lc=women">
          <div class="right">
            <img src="../images/homepage_women.JPG" alt="">
            <div>
              <p>SHOP WOMENS</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="container mt-6 outercontainer">
      <div class="shopMenOuter" id="shopMenOuterDiv">
        <a href="products/#/?lc=men&mc=outer">
          <div class="left">
            <img src="../images/homepage_men_outer.jpg" alt="">
            <div>
              <p>MENS OUTER</p>
            </div>
          </div>
        </a>
      </div>
      <div class="shopWomenOuter mx-2" id="shopWomenOuterDiv">
        <a href="products/#/?lc=women&mc=outer">
          <div class="right">
            <img src="../images/homepage_women_outer.jpg" alt="">
            <div>
              <p>WOMENS OUTER</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="container mt-6 topcontainer">
      <div class="shopMenTop" id="shopMenTopDiv">
        <a href="products/#/?lc=men&mc=top">
          <div class="left">
            <img src="../images/homepage_men_top.jpg" alt="">
            <div>
              <p>MENS TOP</p>
            </div>
          </div>
        </a>
      </div>
      <div class="shopWomen mx-2" id="shopWomenTopDiv">
        <a href="products/#/?lc=women&mc=top">
          <div class="right">
            <img src="../images/homepage_women_top.jpg" alt="">
            <div>
              <p>WOMENS TOP</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="container mt-6 bottomcontainer">
      <div class="shopMenBottom" id="shopMenBottomDiv">
        <a href="products/#/?lc=men&mc=bottom">
          <div class="left">
            <img src="../images/homepage_men_bottom.jpg" alt="">
            <div>
              <p>MENS BOTTOM</p>
            </div>
          </div>
        </a>
      </div>
      <div class="shopWomen mx-2" id="shopWomenBottomDiv">
        <a href="products/#/?lc=women&mc=bottom">
          <div class="right">
            <img src="../images/homepage_women_bottom.jpg" alt="">
            <div>
              <p>WOMENS BOTTOM</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</body>

</html>