<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>쇼핑-3팀</title>
  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../images/elice-rabbit-favicon.png" />
  <!-- bulma css 관련 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="login-temporary.css" />
  <script src="login-temporary.js" type="module" defer></script>
</head>

<body>
  <!-- 헤더 -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="" alt="">
          <span class="has-text-link brandname">SHOPAHOLIC</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              MEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=men&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=men&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/products/#/?lc=men">
              WOMEN
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/products/#/?lc=women&mc=outer">
                OUTER
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=top">
                TOP
              </a>
              <a class="navbar-item" href="/products/#/?lc=women&mc=bottom">
                BOTTOM
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
          <!-- 로그인 안했을 때 -->
          <ul id="navbar" class="login-hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
          <!-- 로그인 했을 때 -->
          <ul id="navbar" class="logout-hidden hidden">
            <li><a href="/products">VIEW ALL</a></li>
            <li><a href="/users">계정관리</a></li>
            <li><a class="logout-btn" href="/">로그아웃</a></li>
            <li>
              <a href="/cart" aria-current="page">
                <span class="icon">
                  <i class="fas fa-cart-shopping"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- 사이드 메뉴 -->
  <aside class="side-menu hidden">
    <h3 class="sr-only">사이드 메뉴</h3>
    <div class="top">
      <i class="fa-duotone fa-x"></i>
    </div>
    <ul class="login-hidden">
      <!-- 로그인 안했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/register">회원가입</a></li>
      <li><a href="/login">로그인</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
    <ul class="logout-hidden">
      <!-- 로그인 했을 때 -->
      <li><a href="/products">VIEW ALL</a></li>
      <li><a href="/users">계정관리</a></li>
      <li><a class="logout-btn" href="/">로그아웃</a></li>
      <li><a href="/cart">카트</a></li>
    </ul>
  </aside>

  <!-- 로그인 폼(Form) -->
  <div class="login-form-container">
    <form class="box login-form-box" id="loginForm">
      <p class="title is-5 has-text-info">어서오세요!</p>
      <div class="field">
        <label class="label" for="emailInput">이메일</label>
        <div class="control">
          <input class="input" id="emailInput" type="email" placeholder="abc@example.com" autocomplete="on" />
        </div>
      </div>

      <div class="field mb-5">
        <label class="label" for="passwordInput">비밀번호</label>
        <div class="control">
          <input class="input" id="passwordInput" type="password" placeholder="********" autocomplete="on" />
        </div>
      </div>

      <button class="button is-info is-fullwidth" id="submitButton">
        로그인하기
      </button>
      <a class="link-small" href="../account/password">비밀번호 찾기</a>
    </form>
  </div>
</body>

</html>