@import '../../common/sidebar/sidebar.css';
@import '../../common/navbar/navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  margin-top: 67px;
}

nav {
  border-bottom: 3px solid black;
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
}

.brandname {
  font-family: 'Limelight', cursive;
  font-size: 24px;
}

.button {
  font-weight: 700;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.field {
  width: 100%;
}

.desc {
  font-size: 14px;
}

.icon-title {
  width: 60px;
  height: 60px;
  margin-bottom: 14px;
}

.icon-title .fa-key {
  font-size: 2.5rem;
}

.icon-title .fa-circle-check {
  font-size: 3.1rem;
}

.modal-close {
  z-index: 50;
}

.modal-content {
  width: 430px;
}

.modal-content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 20px;
}

.modal-content .box p {
  line-height: 1.8;
}